:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --color-white: #ffffff;
  --color-iris: #4d5ae5;
  --color-cloud: #f4f4fd;
  --border-portfolio-color: #e7e9fc;
  --color-ocean: #404bbf;
  --color-slate: #434455;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --color-light-slate: #8e8f99;
  --color-green: #31d0aa;
  --bg-modals-color: rgba(46, 47, 66, 0.4);
  --bg-modals-color-dairy: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  align-items: center;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--color-white);
}
.header,
.header-content {
  padding-top: 24px;
}
.header {
  border-bottom: 1px solid var(--border-portfolio-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
}
.nav-list {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
  padding-bottom: 24px;
}
.logo-studio {
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.nav-list-item {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition);
  display: block;
  padding-bottom: 24px;
}
.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--color-ocean);
}
.current {
  color: var(--color-ocean);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-ocean);
  border-radius: 2px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 24px;
}
.address-list-item {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition);
}
.address-list-item:hover,
.address-list-item:focus {
  color: var(--color-ocean);
}
.contacts {
  font-style: normal;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-section {
  background-color: var(--primary-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  background-image: var(--bg-gradient), url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 48px;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.order-service {
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  border-color: transparent;
  transition: background-color var(--transition);
}
.order-service:hover,
.order-service:focus {
  background-color: var(--color-ocean);
}

/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modals-color);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: var(--bg-modals-color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
}
.close-btn {
  position: absolute;
  right: 24px;
  width: 24px;
  height: 24px;
  background: var(--border-portfolio-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: var(--primary-text-color);
  transition: background-color var(--transition), fill var(--transition),
    border-color var(--transition);
}
.close-btn:hover,
.close-btn:focus {
  background-color: var(--color-ocean);
  border-color: transparent;
  fill: var(--color-white);
}
/**/

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-icon-container {
  background-color: var(--color-cloud);
  margin-bottom: 8px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list > li {
  max-width: 264px;
}
.advantages-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.advantages-list-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.whatwedo,
.team,
.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  text-align: center;
}
.whatwedo-section {
  padding-bottom: 120px;
}
.whatwedo {
  margin-bottom: 72px;
}
.whatwedo-list {
  display: flex;
  gap: 24px;
}
.team-section {
  background: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-content {
  padding: 32px 16px;
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-list-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  transition: background-color var(--transition);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-ocean);
}
.team-soc-icon {
  fill: var(--color-cloud);
}
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-light-slate);
  transition: border-color var(--transition), fill var(--transition);
}
.customers-link:focus,
.customers-link:hover {
  border-color: var(--color-ocean);
  fill: var(--color-ocean);
}
footer {
  background-color: var(--primary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  gap: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
}
.logo-studio-footer {
  color: var(--color-cloud);
  text-transform: uppercase;
}

.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  max-width: 264px;
  margin-top: 16px;
}
.footer-soc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: var(--color-cloud);
}
.footer-soc-link:focus,
.footer-soc-link:hover {
  background-color: var(--color-green);
}

/* css for porfolio */

.header {
  background: var(--color-white);
}
.portf-main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portf-address-list-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-decoration: none;
}
.work-button-list {
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.work-button-item,
.work-button-item {
  background-color: var(--color-cloud);
  border: 1px solid var(--border-portfolio-color);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color, box-shadow, color, border-color,
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-button-item:hover,
.work-button-item:focus {
  background-color: var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-white);
  border-color: transparent;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.work-list-descr {
  border-left: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
  border-right: 1px solid var(--border-portfolio-color);
  padding: 32px 16px;
}
.work-list-item {
  background: var(--color-white);
}
.work-list-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-item-link:hover,
.work-list-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.work-list:nth-child(3n) {
  margin-right: 0;
}
.work-list:nth-child(-3n) {
  margin-bottom: 0;
}
.work-list-item > a {
  text-decoration: none;
}
.work-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.work-list-service {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.work-list-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background-color: var(--color-iris);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-item-link:hover .overlay,
.work-list-item-link:focus .overlay {
  transform: translate(0, 0);
}
