:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --color-white: #ffffff;
  --color-iris: #4d5ae5;
  --color-cloud: #f4f4fd;
  --border-portfolio-color: #e7e9fc;
  --color-ocean: #404bbf;
  --color-slate: #434455;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --color-light-slate: #8e8f99;
  --color-green: #31d0aa;
  --bg-modals-color: rgba(46, 47, 66, 0.4);
  --bg-modals-color-dairy: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  align-items: center;
}
img {
  display: block;
}
.container {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--color-white);
}
.header {
  border-bottom: 1px solid var(--border-portfolio-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-list {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-studio {
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.nav-list-item {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: none;
  align-items: center;
  margin-right: auto;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.address-list {
  display: none;
  /* display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px; */
}
.address-list-item {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition);
}
.address-list-item:hover,
.address-list-item:focus {
  color: var(--color-ocean);
}
.contacts {
  font-style: normal;
  display: none;
}
.header-menu-btn {
  stroke: var(--primary-text-color);
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  line-height: 0.5;
  font-family: none;
  transition: stroke var(--transition);
}
.header-menu-btn:hover,
.header-menu-btn:focus {
  stroke: var(--color-ocean);
}
/* ======== mobile menu================= */
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.mob-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 80px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: var(--border-portfolio-color);
  opacity: 0.1;
  border: 1px solid var(--primary-text-color);
  border-radius: 50%;
  fill: var(--primary-text-color);
}
.mob-nav-list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.mob-nav-list-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-current {
  color: var(--color-ocean);
}
.mob-nav-list {
  margin-bottom: 40px;
}
.mob-address-list {
  margin-bottom: 48px;
}
.mob-address-list-item-tel {
  margin-bottom: 48px;
}
.mob-address-list-item-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-iris);
}
.mob-address-list-item-email {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.mob-soc-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.mob-soc-item {
  width: 40px;
  height: 40px;
}
.mob-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  transition: background-color var(--transition);
}
.mob-soc-icon {
  fill: var(--color-cloud);
}
/* ========================= */

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-section {
  background-color: var(--primary-text-color);
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  background-image: var(--bg-gradient), url(../images/people-office-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: var(--bg-gradient),
      url("../images/people-office-mob-2x.jpg");
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-white);
  margin-bottom: 72px;
  text-align: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.order-service {
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  border-color: transparent;
  transition: background-color var(--transition);
}
.order-service:hover,
.order-service:focus {
  background-color: var(--color-ocean);
}

/* ==== Modal window ==== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modals-color);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  min-height: 584px;
  background: var(--bg-modals-color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: var(--border-portfolio-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: var(--primary-text-color);
  transition: background-color var(--transition), fill var(--transition),
    border-color var(--transition);
}
.close-btn:hover,
.close-btn:focus {
  background-color: var(--color-ocean);
  border-color: transparent;
  fill: var(--color-white);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-light-slate);
  margin-bottom: 8px;
  display: block;
}
.modal-label span {
  display: block;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
  transition: border-color var(--transition);
}
.modal-input:focus,
.modal-input:hover {
  border-color: var(--color-iris);
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: var(--color-iris);
}
.input-wrap {
  position: relative;
  margin-top: 4px;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  fill: var(--primary-text-color);
  transition: fill var(--transition);
}
.modal-label-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-light-slate);
  margin-bottom: 16px;
  display: block;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  display: block;
}
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea:valid {
  border-color: var(--color-iris);
}
.modal-submit-btn {
  padding: 16px 32px;
  width: 169px;
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  margin: auto;
  border-color: transparent;
  transition: background-color var(--transition);
}
.modal-submit-btn:focus,
.modal-submit-btn:hover {
  background-color: var(--color-ocean);
}
.label-privacy {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}
.privacy-checkbox {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}
.privacy-checkbox:checked + .check-icon {
  border-color: transparent;
  background-color: var(--color-ocean);
  background-image: url("../images/check-icon.svg");
  background-size: contain;
  background-origin: border-box;
}
.label-privacy > span > a {
  color: var(--color-iris);
}
/*==========================*/

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-icon-container {
  display: none;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages-list > li {
  max-width: 100%;
}
.advantages-list-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.advantages-list-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.whatwedo,
.team,
.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  text-align: center;
}
.whatwedo-section {
  display: none;
}
.team-section {
  background: var(--color-cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}
.team {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.team-list-item {
  background: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-content {
  padding: 32px 16px;
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-list-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  transition: background-color var(--transition);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-ocean);
}
.team-soc-icon {
  fill: var(--color-cloud);
}
.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
.customers-item {
  width: 190px;
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-light-slate);
  transition: border-color var(--transition), fill var(--transition);
}
.customers-link:focus,
.customers-link:hover {
  border-color: var(--color-ocean);
  fill: var(--color-ocean);
}
footer {
  background-color: var(--primary-text-color);
  padding: 96px 15px;
}
.footer-container {
  display: block;
}
.footer-logo-container {
  margin-bottom: 72px;
}
.logo-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
  text-align: center;
}
.logo-studio-footer {
  color: var(--color-cloud);
  text-transform: uppercase;
}

.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  max-width: 268px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.footer-soc-container {
  margin-bottom: 72px;
}
.footer-soc {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: var(--color-cloud);
}
.footer-soc-link:focus,
.footer-soc-link:hover {
  background-color: var(--color-green);
}
.footer-form {
  display: flex;
  flex-direction: column;
}
.footer-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  padding-left: 16px;
  margin-bottom: 16px;
}
.footer-form-input::placeholder {
  color: var(--color-white);
}

.footer-btn {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  fill: var(--color-white);
  background-color: var(--color-iris);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--transition);
}
.footer-btn:focus,
.footer-btn:hover {
  background-color: var(--color-green);
}
/* css for porfolio */

.header {
  background: var(--color-white);
}
.portf-main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portf-address-list-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-decoration: none;
}
.work-button-list {
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.work-button-item,
.work-button-item {
  background-color: var(--color-cloud);
  border: 1px solid var(--border-portfolio-color);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color var(--transition), box-shadow var(--transition),
    color var(--transition), border-color var(--transition);
}
.work-button-item:hover,
.work-button-item:focus {
  background-color: var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-white);
  border-color: transparent;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.work-list-descr {
  border-left: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
  border-right: 1px solid var(--border-portfolio-color);
  padding: 32px 16px;
}
.work-list-item {
  background: var(--color-white);
}
.work-list-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-item-link:hover,
.work-list-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.work-list:nth-child(3n) {
  margin-right: 0;
}
.work-list:nth-child(-3n) {
  margin-bottom: 0;
}
.work-list-item > a {
  text-decoration: none;
}
.work-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.work-list-service {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.work-list-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background-color: var(--color-iris);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-item-link:hover .overlay,
.work-list-item-link:focus .overlay {
  transform: translate(0, 0);
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mob-menu {
    display: none;
  }
  header {
    display: inherit;
  }
  .header-nav {
    margin-right: 0;
    display: flex;
  }
  .header-menu-btn {
    display: none;
  }
  .contacts {
    display: flex;
  }
  .nav-list-item {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav-list-item:hover,
  .nav-list-item:focus {
    color: var(--color-ocean);
  }
  .current {
    color: var(--color-ocean);
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-ocean);
    border-radius: 2px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .address-list {
    display: block;
  }
  .address-list-item {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .address-list-email {
    margin-bottom: 12px;
  }
  .main-section {
    background-image: var(--bg-gradient), url(../images/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: var(--bg-gradient),
        url("../images/people-office-tab-2x.jpg");
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    text-transform: none;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .modal {
    width: 408px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .advantages-list:nth-child(2n) {
    margin-right: 0;
  }
  .advantages-list:nth-child(-2n) {
    margin-bottom: 0;
  }
  .advantages-list > li {
    max-width: 356px;
  }
  .advantages-list-item {
    text-align: start;
  }
  .team-list,
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: 168px;
    height: 88px;
  }
  footer {
    background-color: var(--primary-text-color);
    padding: 96px 108px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 582px;
  }
  .footer-logo-container {
    margin-right: 24px;
  }
  .footer-desc {
    width: 264px;
  }
  .footer-soc,
  .logo-footer {
    text-align: start;
  }
  .footer-soc {
    margin-bottom: 16px;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: start;
  }
  .footer-form-input {
    width: 264px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1128px;
    padding-left: 0;
    padding-right: 0;
  }
  .logo {
    margin-right: 120px;
  }
  .contacts {
    margin-left: auto;
  }
  .nav-list-item {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav-list-item:hover,
  .nav-list-item:focus {
    color: var(--color-ocean);
  }
  .current {
    color: var(--color-ocean);
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-ocean);
    border-radius: 2px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .address-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-list-email {
    margin-bottom: 0;
  }
  .main-section {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: var(--bg-gradient), url(../images/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: var(--bg-gradient),
        url("../images/people-office-2x.jpg");
    }
  }
  .hero-title {
    margin-bottom: 48x;
  }
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantages-icon-container {
    display: block;
    background-color: var(--color-cloud);
    margin-bottom: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .advantages-list > li {
    width: 264px;
    margin-bottom: 0;
  }
  .advantages-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: none;
    text-align: start;
  }
  .advantages-list-desc {
    font-weight: 400;
  }
  .whatwedo-section {
    display: block;
    padding-bottom: 120px;
  }
  .whatwedo {
    margin-bottom: 72px;
  }
  .whatwedo-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .footer-logo-container {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-soc-container {
    margin-right: 80px;
    margin-bottom: 0;
  }
}
